<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>

<body>
<h1>Brevet Times</h1>

<table style="width:100%">
  <tr>
    <th>Miles</th>
    <th>Kilometers</th>
    <th>Location</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>

 {% for item in items %}
  <tr>
    <td>{{ item.miles }}</td>
    <td>{{ item.km }}</td>
    <td>{{ item.location }}</td>
    <td>{{ item.open }}</td>
    <td>{{ item.close }}</td>
  </tr>
 {% endfor %}
</table>

<p><a href="/index">Go to Homepage</a></p>

</body>
</html>